<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    User Database
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>FullName</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Birthday</th>
                                <th>FrontId</th>
                                <th>BackId</th>
                                <th>WalletId</th>
                                <th>Created date</th>
                                <th>Status</th>
                                <th>Permission</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Username</th>
                                <th>FullName</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Birthday</th>
                                <th>FrontId</th>
                                <th>BackId</th>
                                <th>WalletId</th>
                                <th>Created date</th>
                                <th>Status</th>
                                <th>Permission</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tienthanh</td>
                                <td>Tien Thanh</td>
                                <td>Admin</td>
                                <td>tienthanh@gmail.com</td>
                                <td>0345654678</td>
                                <td>2009/09/29</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet02</td>
                                <td>2009/09/29</td>
                                <td>
                                    confirmed 
                                    <button class="btn-xs btn-primary ">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>thanhson</td>
                                <td>Thanh Son</td>
                                <td>Customer</td>
                                <td>thanhson@gmail.com</td>
                                <td>0546349123</td>
                                <td>2012/11/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet03</td>
                                <td>2016/03/25</td>
                                <td>
                                    waitUpdate 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>ducloc</td>
                                <td>Duc Loc</td>
                                <td>Customer</td>
                                <td>ducloc@gmail.com</td>
                                <td>0344365476</td>
                                <td>2001/06/15</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet04</td>
                                <td>2008/01/22</td>
                                <td>
                                    bannedMany 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                            <tr>
                                <td>tigernixon</td>
                                <td>Tiger Nixon</td>
                                <td>Customer</td>
                                <td>tigernixon@gmail.com</td>
                                <td>0123456789</td>
                                <td>2011/04/25</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>2011/04/25</td>
                                <td>
                                    waitConfirm 
                                    <button class="btn-xs btn-primary">Confirm</button>
                                </td>
                                <td class="text-danger font-weight-bold">Not Verified 
                                    <button class="btn-xs btn-success">Verify</button></td>
                                <td>
                                    <button class="btn-xs btn-danger">UnBan</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>