<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    User Database
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Owner</th>
                                <th>Created date</th>
                                <th>Money</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Owner</th>
                                <th>Start date</th>
                                <th>Money</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td class="text-danger font-weight-bold">$320,800</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>2011/07/25</td>
                                <td class="text-danger font-weight-bold">$170,750</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>2009/01/12</td>
                                <td class="text-danger font-weight-bold">$86,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>2012/03/29</td>
                                <td class="text-danger font-weight-bold">$433,060</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Airi Satou</td>
                                <td>2008/11/28</td>
                                <td class="text-danger font-weight-bold">$162,700</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Brielle Williamson</td>
                                <td>2012/12/02</td>
                                <td class="text-danger font-weight-bold">$372,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Herrod Chandler</td>
                                <td>2012/08/06</td>
                                <td class="text-danger font-weight-bold">$137,500</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Rhona Davidson</td>
                                <td>2010/10/14</td>
                                <td class="text-danger font-weight-bold">$327,900</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Colleen Hurst</td>
                                <td>2009/09/15</td>
                                <td class="text-danger font-weight-bold">$205,500</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sonya Frost</td>
                                <td>2008/12/13</td>
                                <td class="text-danger font-weight-bold">$103,600</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Jena Gaines</td>
                                <td>2008/12/19</td>
                                <td class="text-danger font-weight-bold">$90,560</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Quinn Flynn</td>
                                <td>2013/03/03</td>
                                <td class="text-danger font-weight-bold">$342,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Charde Marshall</td>
                                <td>2008/10/16</td>
                                <td class="text-danger font-weight-bold">$470,600</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Haley Kennedy</td>
                                <td>2012/12/18</td>
                                <td class="text-danger font-weight-bold">$313,500</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Tatyana Fitzpatrick</td>
                                <td>2010/03/17</td>
                                <td class="text-danger font-weight-bold">$385,750</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Michael Silva</td>
                                <td>2012/11/27</td>
                                <td class="text-danger font-weight-bold">$198,500</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Paul Byrd</td>
                                <td>2010/06/09</td>
                                <td class="text-danger font-weight-bold">$725,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Gloria Little</td>
                                <td>2009/04/10</td>
                                <td class="text-danger font-weight-bold">$237,500</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Bradley Greer</td>
                                <td>2012/10/13</td>
                                <td class="text-danger font-weight-bold">$132,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Dai Rios</td>
                                <td>2012/09/26</td>
                                <td class="text-danger font-weight-bold">$217,500</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Jenette Caldwell</td>
                                <td>2011/09/03</td>
                                <td class="text-danger font-weight-bold">$345,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Yuri Berry</td>
                                <td>2009/06/25</td>
                                <td class="text-danger font-weight-bold">$675,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Caesar Vance</td>
                                <td>2011/12/12</td>
                                <td class="text-danger font-weight-bold">$106,450</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Doris Wilder</td>
                                <td>2010/09/20</td>
                                <td class="text-danger font-weight-bold">$85,600</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Angelica Ramos</td>
                                <td>2009/10/09</td>
                                <td class="text-danger font-weight-bold">$1,200,000</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Gavin Joyce</td>
                                <td>2010/12/22</td>
                                <td class="text-danger font-weight-bold">$92,575</td>
                                <td>
                                    <button class="btn-xs btn-success">Edit</button>
                                    <button class="btn-xs btn-primary">Detail</button>
                                    <button class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>