<footer class="footer-distributed">

    <div class="footer-left">
        {{!-- <div class="logo"></div> --}}
        <a href="/" style="text-decoration: none;"><h3 id="logo-footer">Son<span>Handsome</span></h3></a>
        <p class="footer-links">
            <a href="/" class="link-1">Trang chủ</a>
            
            <a id="delivery-btn">519H0227</a>
        
            <a id="payment-btn">519H0139</a>
            
            <a id="return-btn">519H0042</a>
            
        </p>

        <p class="footer-company-name">SonHandsome © 2022</p>
    </div>

    <div class="footer-center">
        <div>
            <ion-icon name="location-outline"></ion-icon>
            <p><a href="https://www.google.com/maps/place/Ton+Duc+Thang+University/@10.7326689,106.6975809,17z/data=!3m1!4b1!4m5!3m4!1s0x317528b2747a81a3:0x33c1813055acb613!8m2!3d10.7326689!4d106.6997696">
                <span>Tôn Đức Thắng</span> 19, Nguyễn Hữu Thọ, Phường Tân Phong Quận 7</a></p>
        </div>
        <div>
            <ion-icon name="call-outline"></ion-icon>
            <p><a href="tell:0967970238"> 0967.970.238 (Hotline)</a></p>
        </div>
<br><br>
        <div>
            <ion-icon name="location-outline"></ion-icon>
            <p><a href="https://www.google.com/maps/place/%C4%90%C6%B0%E1%BB%9Dng+s%E1%BB%91+9,+ph%C6%B0%E1%BB%9Dng+8,+Qu%E1%BA%ADn+11,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vietnam/@10.7629418,106.6449586,17z/data=!4m5!3m4!1s0x31752e93e7795c3d:0xf50169405c43d2c9!8m2!3d10.7632791!4d106.647158">
                <span>Đường số 9</span> Phường 8, Quận 11</a></p>
        </div>
        <div>
            <ion-icon name="call-outline"></ion-icon>
            <p><a href="tell:0967970238">0967.970.238</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>SonHandsome</span>
            Ewallet<br>
            Khách hàng có vấn đề liên hệ qua số điện thoại<br>Ship toàn quốc<br>
            Vui lòng liên hệ<a href="tell:0967970238"> 0967.970.238<br>
            Facebook: <a href="https://www.facebook.com/T.h.h.S.o.n.n/">Son Nguyen</a> 
            </p>

        <div class="footer-icons">
            <a class="social-icons" href="https://www.facebook.com/T.h.h.S.o.n.n/"><i class="fab fa-facebook"></i></a>
            <a class="social-icons" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a class="social-icons" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-icons" href="#"><i class="fab fa-tiktok"></i></a>

        </div>

    </div>

</footer>

