  <header class="main-header" id="main-header">   
      <a href="/" class="logo-icon-header"><div id="logo-header">Son<span>Handsome</span></div></a>
    <nav>
      <ul class="">
        {{!-- more than 6 is not beautiful --}}
        <a href="#"><li>Rút tiền</li></a>
        <a href="#"><li>Chuyển Tiền</li></a>
        <a href="#"><li>Nạp tiền</li></a>
        <a href="#"><li>Mua thẻ cào</li></a>
        <a href="/customer"><li>Thông tin</li></a>
        {{#ifeq user.roles 'admin'}}
        <a href="/admin"><li>Admin</li></a>
        {{/ifeq }}
        <a href="/resetPassword"><li>Đổi Password</li> </a>
        <a href="/login"> <li>Logout</li></a>
        <a href="javascript:void(0);" class="icon logo-icon-header" onclick="openNavResponsive()">
          <i class="fa fa-bars"></i>
        </a>

      </ul>
    </nav>
  </header>