<div class="container">
    <form method="post" action="/changePasswordSuccess" >
        <div class="login-form m-5 p-3 bg-light border border-4 rounded">
            <div class="text-center">
                    <h1>Change Password</h1>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">New Password</label>
                <input type="text" class="form-control" id="password1"  name="password1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" onclick="login()">Change Password</button>
            </div>
            </div>
    </form>
</div>