
<div class="container">
    <form method="post" action="/forgotPassword">
        <div class="login-form m-5 p-3 bg-light border border-4 rounded">
            <div class="text-center">
                    <h1>Forgot Password</h1>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email"  name="email">
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Send New Password</button>
            </div>
    
            <div class="text-center mt-2">
                <button class="btn btn-primary" onclick="logout()">Log Out</button>
            </div>
            </div>
        </div>
    </form>
</div>