<div class="container">
    
        <div class="login-form m-5 p-3 bg-light border border-4 rounded">
            <div class="text-center">
                    <h1>Change Password</h1>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="oldPassword"  name="oldPassword">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword"  name="newPassword">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" onclick="changePassword2({{user.username}})">Change Password</button>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-primary" onclick="logout()">Log Out</button>
            </div>
            </div>
 
</div>