body {
  font-family: "Lato", sans-serif; }

.login-sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px; }

.login-main {
  padding: 0px 10px; }

@media screen and (max-height: 450px) {
  .login-sidenav {
    padding-top: 15px; } }

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%; } }

@media screen and (min-width: 768px) {
  .login-main {
    margin-left: 40%; }
  .login-sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; }
  .login-form {
    margin-top: 40%; } }

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff; }

.login-main-text h2 {
  font-weight: 300;
  font-size: 70px; }

.btn-black {
  background-color: #000 !important;
  color: #fff; }

.btn-black:hover {
  color: #fff;
  background-color: #3e3d3d !important; }

.register-sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
  animation-duration: 6s;
  animation-iteration-count: 1;
  position: relative; }

.register-main {
  padding: 0 60px; }

@media screen and (max-height: 450px) {
  .register-sidenav {
    padding-top: 15px; } }

@media screen and (max-width: 450px) {
  .register-form {
    margin-top: 10%; } }

@media screen and (min-width: 768px) {
  .register-main {
    margin-right: 40%;
    width: 80%; }
  .register-sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0; }
  .register-form {
    margin-top: 15%; } }

.register-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff; }

.register-main-text h2 {
  font-weight: 300;
  font-size: 70px; }

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://i.ytimg.com/vi/YSMykzHYLhw/maxresdefault.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: aqua; }

header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem; }

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0; }
  header.masthead p {
    font-size: 1.15rem; }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem; } }

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease; }

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529; }

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0; }

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a; }

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important; }

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent; }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7); }
  #mainNav .navbar-brand:hover {
    color: #fff; }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem; }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff; }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0; }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff; }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529; }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f4623a; }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529; }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a; } }
