
<div class="container">
    <form method="post" action="">
        <div class="login-form m-5 p-3 bg-light border border-4 rounded">
            <div class="text-center">
                    <h1>Nap tien</h1>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Ma the</label>
                <input type="text" class="form-control" id="creditId"  name="creditId">
            </div>
    
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ngay het hang</label>
                <input type="email" class="form-control" id="expiredDate"  name="expiredDate">
            </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ma~ CVV</label>
                <input type="email" class="form-control" id="cvvId"  name="cvvId">
            </div>


             <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ma~ CVV</label>
                <input type="email" class="form-control" id="cvvId"  name="cvvId">
            </div>

            
            <div class="text-center mt-2">
                <button class="btn btn-primary">Nap tien</button>
            </div>
            </div>
        </div>
    </form>
</div>