
<div class="container">
    <form method="post" action="/customer/transfer" id="charge-form">
        <div class="login-form m-5 p-3 bg-light border border-4 rounded">
            <div class="text-center">
                    <h1>Nạp tiền</h1>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mã thẻ</label>
                <input type="number" class="form-control" id="creditId"  name="creditId">
            </div>
    
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Ngày hết hạn</label>
                <input type="text" class="form-control" id="expiredDate"  name="expiredDate">
            </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mã CVV</label>
                <input type="number" class="form-control" id="cvvId"  name="cvvId" >
            </div>

             <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Số tiền cần nạp</label>
                <input type="number" class="form-control" id="money"  name="money" min="1">
            </div>
            <input name="username" value="{{user.username}}" hidden>
            <input name="type" value="napTien"hidden > 

            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary"  onclick="creditIdCheck()">Nạp tiền</button>
            </div>
            
            </div>
        </div>
    </form>
</div>

